.sto-app {
  display: flex;
  margin: auto 1.7em;
}

.sto-app-icon-wrapper {
  margin-top: 0.7em;
  margin-right: 1.7em;
}

.sto-app-content .coz-btn--regular {
  margin-left: 0;
}

.sto-app-icon {
  width: 8rem;
}

.sto-app-icon--default {
  padding: 0 .5rem;
  width: 8rem;
}

.sto-app-icon--button {
  position: relative;
  top: .15rem;
  margin-top: -.4rem;
  margin-right: .3rem;
}
