.sto-app {
  margin: auto 1.7em;
}

.sto-app .u-title-h3 {
  margin-bottom: .5rem;
}

.sto-app-back {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  text-decoration: none;
  color: var(--slateGrey)!important;
}

.sto-app-bar {
  display: flex;
  position: relative;
  height: 2.2rem;
  padding: .4rem 0;
  width: 100%;
  justify-content: center;
  padding-right: 1.75rem;
  overflow: hidden;
}

.coz-inline-icon {
  margin: 0 .5em 0 0;
  vertical-align: bottom;
}

.sto-app-bar-icon {
  height: 100%;
  object-fit: contain;
  transform: translateY(0);
  opacity: 1;
  transition: .1s ease-in;
}

.sto-app-bar-icon--hidden {
  transform: translateY(.3rem);
  opacity: 0;
  transition: .1s ease;
}

/*********************/
/**      HEADER     **/
/*********************/

.sto-app-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 1rem;
}

.sto-app-header-icon {
  margin-top: 0.7em;
  margin-right: 1.7em;
}

.sto-app-header-content .c-btn {
  margin-left: 0;
  margin-right: .5rem;
  font-weight: 700;
  align-items: center;
}

.sto-app-icon {
  width: 8rem;
  height: 100%;
  object-fit: contain;
}

.sto-app-icon--default {
  padding: 1rem .5rem;
}

.sto-app-install-button-icon {
  position: relative;
  top: -.05rem;
}

@media (max-width: 48rem) {
  .sto-app-header .c-btn {
    width: 100%;
    margin-right: 0;
  }

  .sto-app-header-description {
    text-align: center;
  }

  .sto-app-header-title {
    text-align: center;
  }

  .sto-app-header-icon {
    display: flex;
    margin: 0;
    justify-content: center;
  }

  .sto-app-icon {
    width: 5rem;
  }

  .sto-app-header {
    margin-top: .5rem;
    flex-direction: column;
  }

  .sto-app-header-uninstall-button {
    margin-top: .8rem;
  }
}

/*********************/
/**      IMAGES     **/
/*********************/

.sto-app-images {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: .5rem 0;
  padding: 1rem 0;
  max-height: 20rem;
}

.sto-app-big-images {
  display: flex;
  flex-direction: row;
  width: 85%;
  justify-content: space-around;
  align-items: center;
}

.sto-app-small-images {
  display: flex;
  flex-direction: column;
  width: 15%;
  justify-content: flex-start;
}

.sto-app-small-images.--space-around {
  justify-content: space-around;
}

.sto-app-big-image {
  max-width: calc(100% / 2 - 2rem);
  border-radius: .2rem;
  box-shadow: 0px 0px 20px -10px var(--charcoalGrey);
  cursor: pointer;
  object-fit: cover;
  max-height: 100%;
}

.sto-app-small-image {
  max-width: 100%;
  border-radius: .2rem;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 20px -10px var(--charcoalGrey);
  cursor: pointer;
  object-fit: cover;
  max-height: calc((100% - 2rem) / 3 );
}

.sto-app-small-image:hover,
.sto-app-big-image:hover,
.sto-app-small-image:focus,
.sto-app-big-image:focus {
  box-shadow: 0px 0px 50px -20px var(--charcoalGrey);
}

.sto-app-small-image:last-child {
  margin-bottom: 0;
}

.sto-app-image-preview {
  max-width: 100%;
}



/********************/
/**     MAINTENANCE    **/
/********************/

.sto-app-maintenance {
  margin-top: .5rem;
}

.sto-app-maintenance-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--pomegranate);
}

.sto-app-maintenance-header .u-title-h3 {
  margin-top: 1rem;
  color: var(--pomegranate);
}

.sto-app-maintenance-header-desc {
  margin: 0;
}

.sto-app-maintenance-header-image {
  max-height: 6rem;
}

.sto-app-maintenance-desc {
  margin-top: -.5rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}


/********************/
/**     DETAILS    **/
/********************/

.sto-app-details {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.sto-app-details p {
  margin: 0;
}

/* Descriptions */
.sto-app-descriptions {
  padding-right: 5rem;
  width: calc(65% - 5rem);
}

.sto-app-description,
.sto-app-changes {
  line-height: 1.5rem;
}

.sto-app-descriptions .md-title {
  color: var(--slateGrey)
}

.sto-app-description {
  margin-bottom: 4rem;
}

.sto-app-changes--less,
.sto-app-description--less {
  max-height: 6rem;
  overflow: hidden;
  background: linear-gradient(rgba(0,0,0,.7), transparent);
  background-clip: text;
  -webkit-background-clip: text; /* Safari and Chrome support */
  -webkit-text-fill-color: transparent;
}

/* remove margin-top from any first elements */
.sto-app-changes--less *:first-child,
.sto-app-description--less *:first-child {
  margin-top: 0;
}

.sto-details-display-more {
  margin: .2rem 0 0;
  padding-left: 0;
  border: 0;
  color: var(--dodgerBlue);
  background-color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}

/* Informations */
.sto-app-additional-details {
  display: flex;
  margin-bottom: 2rem;
  flex-direction: column;
  width: 35%;
}

.sto-app-additional-details .sto-app-permissions-button {
  margin-top: .5rem;
  margin-bottom: 1.5rem;
}

.sto-app-info {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.sto-app-info-header {
  display: flex;
  flex-direction: column;
  width: 35%;
  color: var(--coolGrey);
  line-height: 1.5rem;
}

.sto-app-info-content {
  display: flex;
  flex-direction: column;
  width: 65%;
  line-height: 1.5rem;
  padding-left: 1rem;
}

.sto-app-info-content--mobile-apps {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sto-app-info-content--mobile-apps .sto-app-info-content-icon {
  margin-right: .5rem;
}

.sto-app-developer-infos {
  display: flex;
  flex-direction: column;
}

.sto-app-developer-link {
  margin-top: .5rem;
  display: inline-table;
  text-decoration: none;
  color: var(--dodgerBlue);
}

@media (max-width: 48rem) {
  .sto-app-details {
    flex-direction: column-reverse;
  }

  .sto-app-descriptions,
  .sto-app-additional-details {
    width: 100%;
    padding-right: 0;
  }

  .sto-app-info-content {
    align-items: end;
  }

  .sto-app-info-content--mobile-apps {
    align-items: center;
    justify-content: end;
  }
}
