.sto-hidden-install
    @extend $form-text

    code
        background-color pale-grey
        font-size   .9rem
        color   charcoal-grey
        padding 1px 4px

    .sto-installer-title
        padding-left 1.5em

    .coz-form
        padding-left 2.5em
        width 35em

    .sto-installer-field
        display flex
        flex-direction column
        width 100%

        input
            width 100%;

        span
            // toggle
            align-self flex-end

    .coz-form-controls
        width   100%
        padding-top 2em

        .c-btn
            width   100%
