[role=application] {
    --icon-compass: embedurl('../assets/icons/icon-compass.svg');
    --icon-compass-active: embedurl('../assets/icons/icon-compass-active.svg');
    --icon-cozy: embedurl('../assets/icons/icon-cozy.svg');
    --icon-cozy-active: embedurl('../assets/icons/icon-cozy-active.svg');
}
