@import '../../node_modules/cozy-ui/dist/cozy-ui.min.css';

@import './application.css';
@import './sidebar.css';
@import './viewTitle.css';
@import './empty.css';
@import './install.css';
@import './intents.css';
@import './uninstall.css';
@import './permissions.css';
@import './sections.css';
@import './dropdownFilter.css';
@import './smallAppItem.css';
@import './loading.css';
@import './appVote.css';

.blurry {
    opacity: .7;
    filter: blur(2px);
}

.sto-view-loading {
    top: 45vh!important;
}

.md-link,
.md-link:visited {
    color: var(--dodgerBlue);
    text-decoration: none;
}

.md-link:hover,
.md-link:active,
.md-link:focus {
    text-decoration: underline;
}

.md-paragraph {
  margin: 0;
}
