@import '~cozy-ui/dist/cozy-ui.min.css';

@import '~styles/application.css';
@import '~styles/sidebar.css';
@import '~styles/empty.css';
@import '~styles/install.css';
@import '~styles/intents.css';
@import '~styles/uninstall.css';
@import '~styles/permissions.css';
@import '~styles/partnership.css';
@import '~styles/sections.css';
@import '~styles/dropdownFilter.css';
@import '~styles/loading.css';

.blurry {
    opacity: .7;
    filter: blur(2px);
}

.sto-view-loading {
    top: 45vh!important;
}

.md-link,
.md-link:visited {
    color: var(--primaryColor);
    text-decoration: none;
}

.md-link:hover,
.md-link:active,
.md-link:focus {
    text-decoration: underline;
}

.md-paragraph {
  margin: 0;
}
