@require 'cozy-ui/build'

@require './palette.styl'

@require './application.css'
@require './viewTitle.css'
@require './empty.css'
@require './install.css'
@require './intents.css'
@require './modal.css'
@require './permissions.css'
@require './sections.css'
@require './smallAppItem.css'

.app-content
    top-padded(15px)
    @media (max-width: (768/basefont)rem)
        top-padded(0)

.blurry
    opacity .7
    filter blur(2px)

// FIXME temporary cozy-ui layout fixes
html, body
    height 100%!important
.o-layout--2panes
    height 100%!important
    position relative
    @media (max-width: (1024/basefont)rem)
        main
            height calc(100% - 3rem - 3rem)

// should be temporary
@require './hiddenInstallerView.styl'
