@import 'cozy-ui/defaults'
@import 'cozy-ui'

@import './icons.styl'
@import './palette.styl'

@import './application.css'
@import './discover.css'
@import './empty.css'
@import './modal.css'
@import './myApplications.css'
@import './nav.css'
@import './permissions.css'
@import './smallAppItemsList.css'

.sto-wrapper
    @extend $app-2panes-sticky
    @extend $sidebar
    @extend $navigation

.sto-content
    top-padded(15px)
    @media (max-width: (768/basefont)rem)
        top-padded(10px)

.blurry
    opacity .7
    filter blur(2px)

[role=application]
    // need this due to no css-modules usage in this app
    @media (max-width: (1023/basefont)rem)
        aside
            width   100%!important // @stylint ignore

// should be temporary
@import './hiddenInstallerView.styl'
