@require 'cozy-ui/build'

@require './palette.styl'

@require './application.css'
@require './discover.css'
@require './empty.css'
@require './modal.css'
@require './myApplications.css'
@require './permissions.css'
@require './smallAppItemsList.css'

.app-content
    top-padded(15px)
    @media (max-width: (768/basefont)rem)
        top-padded(10px)

.blurry
    opacity .7
    filter blur(2px)

// should be temporary
@require './hiddenInstallerView.styl'
