.sto-install,
.sto-install-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sto-install-content {
  justify-content: space-between;
}

.sto-install-loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sto-install-content {
  overflow-y: auto;
}

.sto-install-top {
  flex-shrink: 1;
  flex-grow: 1;
}

.sto-install-bottom {
  flex-grow: 0;
  flex-shrink: 0;
}

.sto-install-controls {
  display: flex;
  justify-content: center;
}

.sto-install-controls .c-btn {
  flex-grow: 1;
}
