.sto-install-loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 0;
}

.sto-install-terms {
  display: flex;
  align-items: center;
  margin-left: .25rem;
  margin-top: .75rem;
}

.sto-install-terms .sto-install-terms-checkbox {
  margin: 0;
}

.sto-install-controls {
  display: flex;
  justify-content: center;
  margin-top: .75rem;
}

.sto-install-controls .c-btn {
  flex-grow: 1;
}

.sto-install-footer {
  margin-top: auto;
  padding-top: .25rem;
}

.sto-install-success-header {
  display: flex;
  justify-content: center;
}

.sto-install-success-content {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}
