.coz-intent,
.coz-intent-wrapper {
    width: 100%;
    height: 100%;
}

.coz-intent-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.coz-intent-content {
  width: 100%;
  height: calc(100% - 3rem);
}

.coz-intent-content .sto-install {
  justify-content: center;
  width: 32rem;
}

.coz-intent,
.coz-intent-content {
  display: flex;
  flex-direction: column;
}

.coz-error {
  font-size: 1.5em;
  color: red;
}

.coz-intent-wrapper .coz-error {
  margin-top: 3rem;
  text-align: center;
}
