@keyframes placeHolderShimmer {
  0% { background-color: var(--disabledTextColor); }
  50% { background-color: var(--contrastBackgroundColor); }
  100% { background-color: var(--disabledTextColor); }
}

.sto-sections-placeholder {
  display: block;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-position: -20rem 0;
  background-size: 20rem 20rem;
  background-repeat: no-repeat;
  background-color: var(--disabledTextColor);
  border-radius: 0.15rem;
  height: 0.75rem;
  max-width: 100%;
  position: relative;
  margin: .1rem 0;
}

.sto-sections-title .sto-sections-placeholder {
  animation-delay: 0.1s;
}

.sto-sections-subtitle .sto-sections-placeholder {
  animation-delay: 0.5s;
}

.sto-small-app-item-icon .sto-sections-placeholder {
  animation-delay: 0.7s;
}

.sto-small-app-item-desc .sto-sections-placeholder {
  animation-delay: 1s;
}

.sto-sections.--loading .sto-small-app-item {
  pointer-events:none;
}

.sto-sections.--loading .sto-small-app-item-icon-wrapper {
  margin-bottom: .25rem;
}

.sto-sections-placeholder.c-btn {
  border: none;
  display: inline-block;
}

.sto-sections-placeholder.text-placeholder {
  line-height: 1.5rem;
  height: .75rem;
}

.grp-placeholder span {
  margin: 1rem 0;
}

.sto-app-additional-details.grp-placeholder > * {
  margin: 0.8rem 0;
}

.sto-app-images .sto-sections-placeholder {
  margin: 0 0.5rem 0 0;
}

.app-page-loading {
  margin-top: 2rem;
}

.app-page-loading .sto-app-small-images .sto-sections-placeholder:first-child {
  margin: 0;
}

.app-page-loading .sto-app-small-images .sto-sections-placeholder {
  margin: 0.5rem 0 0;
}

@media (max-width: 48rem) {
 .app-page-loading .sto-app-header-content * {
    margin: 1rem auto;
  }
}

.app-page-loading h2.sto-app-header-title {
	margin-bottom: 2rem;
}
