.sto-modal-content,
.sto-modal-header {
  max-width: 30em;
}

.sto-modal-content {
  max-height: calc(100vh - 20em);
  overflow-x: scroll;
}

.sto-modal--uninstall .sto-modal-controls {
  display: flex;
  justify-content: flex-end;
  margin-top: 2em;
}

.sto-modal--install .sto-modal-controls {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.sto-modal--install .sto-modal-controls .c-btn {
  flex-grow: 1;
}

.sto-modal--install .sto-modal-header-icon {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: #297EF2 url('../assets/icons/icon-cozy.svg') center center / 58% auto no-repeat;
    box-shadow: 0 1px 3px 0 rgba(50, 54, 63, 0.19), 0 4px 12px 0 rgba(50, 54, 63, 0.12);
}
.sto-modal--install .sto-modal-header-icon-shield:after {
    content: '';
    position: absolute;
    right: -10%;
    bottom: -10%;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: #FF7F1A url('../assets/icons/icon-shield.svg') center center / 60% no-repeat;
    box-shadow: 0 1px 3px 0 rgba(50, 54, 63, 0.25), 0 6px 18px 0 rgba(50, 54, 63, 0.2);
}

/* .sto-modal--install .sto-modal-header-icon[aria-busy="true"]:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  background: none;
  border-radius: 100%;
  border: .4em solid var(--science-blue);
  border-right: .2em solid white;
  box-sizing: border-box;
  animation: 1s linear infinite spin;
} */
