.sto-animated-header-exchange {
  margin: 0 1rem;
}

.sto-animated-header--active .sto-animated-header-exchange {
  margin: 0;
}


.sto-modal--uninstall .sto-modal-controls {
  display: flex;
  justify-content: flex-end;
}
