.sto-cat-discover {
	background: var(--icon-compass) no-repeat 1.5em center/1em;
}

.sto-cat-discover.active {
	background-image: var(--icon-compass-active);
}

.sto-cat-myapps {
	background: var(--icon-cozy) no-repeat 1.5em center/1em;
}

.sto-cat-myapps.active {
	background-image: var(--icon-cozy-active);
}

@media (max-width: 63.9375rem) {
  .coz-nav-link {
  	background-position: top;
	  background-size: 16px;
  }
}
