// this palette files will expose all cozy-ui palette variables

// @stylint off
[role=application]
    // greys
    --pale-grey paleGrey
    --silver silver
    --cool-grey coolGrey
    --slate-grey slateGrey
    --charcoal-grey charcoalGrey
    // blues
    --dodger-blue dodgerBlue
    --science-blue scienceBlue
    --puerto-rico puertoRico
    // greens
    --emerald emerald
    --malachite malachite
    // oranges
    --texas-rose texasRose
    // reds
    --your-pink yourPink
    --pomegranate pomegranate
    --monza monza
    // purlples
    --portage portage
// @stylint on
