// this palette files will expose all cozy-ui palette variables

[role=application]
    // greys
    --pale-grey: pale-grey;
    --silver: silver;
    --cool-grey: cool-grey;
    --slate-grey: slate-grey;
    --charcoal-grey: charcoal-grey;
    // blues
    --dodger-blue: dodger-blue;
    --science-blue: science-blue;
    --puerto-rico: puerto-rico;
    // greens
    --emerald: emerald;
    --malachite: malachite;
    // oranges
    --texas-rose: texas-rose;
    // reds
    --your-pink: your-pink;
    --pomegranate: pomegranate;
    --monza: monza;
    // purlples
    --portage: portage;
