/* Permissions */
.sto-perm-list-title {
  margin-top: 0;
  display: flex;
  flex-direction: row;
}

.sto-perm-list-title p {
  margin: 0;
  line-height: 1.5;
  flex: 1 1 100%;
}

.sto-perm-list-icon {
  margin: 0 .5rem 0 0;
}

.sto-perm-list {
  margin: 0 0 1rem calc(24px + .5rem);
  padding: 0;
  list-style: none;
}

.sto-perm-list li {
  list-style: none;
  margin: .5rem 0
}

.sto-perm-label {
  display: flex;
  flex-direction: column;
  justify-content: left;
  line-height: 1.5;
  font-size: 16px;
}

.sto-perm-description {
  color: var(--secondaryTextColor);
  font-size: .7em;
}

.sto-perm-description-detail p {
  margin: 0 0 0 1.5rem;
  line-height: 1rem;
  font-size: 12px;
}

.sto-perm-description-detail a {
  color: var(--secondaryTextColor);
}

.sto-perm-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sto-perm-title-icon {
  margin-right: .5rem;
}
