.sto-sections {
  margin: 2rem 2.5rem 0 2.5rem;
}

.sto-sections-section {
  margin-bottom: 4rem;
}

.sto-sections-apps {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.sto-sections-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.sto-sections-subtitle-secondary {
  font-size: 13px;
  color: var(--coolGrey);
  text-transform: uppercase;
}

@media (min-width: 48rem) {
  .sto-sections-title:first-child {
    margin-top: 0;
  }
}
