.sto-sections {
  margin: 2rem .5rem 0 2rem;
}

.sto-sections-section {
  margin-bottom: 4rem;
}

.sto-sections-apps {
  margin-bottom: 1rem;
}

.sto-sections-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.sto-sections-subtitle {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.sto-sections-subtitle-secondary {
  font-size: 13px;
  color: var(--coolGrey);
  text-transform: uppercase;
}

@media (max-width: 48rem) {
  .sto-sections {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
