.sto-sections-list {
  /* We differenciate the "real" margin from the "used" margin. The "used" margin
  allow to use a little higher value for flex-basis calculation. Firefox
  and Chrome are behaving well but IE11 need it. */
  --item-margin: .8em;
  --item-real-margin: .7em
}

.sto-small-app-item {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc(100% - var(--item-margin) * 2);
  width: 20em;
  padding: var(--item-real-margin);
  /* padding: var(--item-real-margin); */
}

.sto-small-app-item:hover {
  background: var(--pale-grey);
  box-shadow: 0 0 0 0 var(--pale-grey);
  cursor: pointer;
}

.sto-small-app-item-icon {
  height: 100%;
  object-fit: contain;
}

.sto-small-app-item-icon--default {
  height: 100%;
  width: 3em;
  padding: 0 .5em;
}

.sto-small-app-item-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-left: 1em;
}

.sto-small-app-item-title, .sto-small-app-item-detail {
  flex: 0 1;
  width: 100%;
  margin: 0;
}

.sto-small-app-item-detail {
  margin: .2em 0;
  font-size: .8rem;
  color: var(--cool-grey);
}

.sto-small-app-item-desc .sto-small-app-item-button {
  margin-left: 0;
  width: 7rem;
}

.sto-small-app-item-button-install,
.sto-small-app-item-button-install:visited {
  color: var(--dodger-blue);
  background: white;
  font-weight: 700;
}

.sto-small-app-item-button-install:hover,
.sto-small-app-item-button-install:focus,
.sto-small-app-item-button-install:active {
  color: white;
}

@media (min-width: 40em) {
  .sto-small-app-item {
    flex-grow: 0;
  }
}

@media (min-width: 48em) {
  .sto-small-app-item {
    flex-basis: calc(50% - var(--item-margin) * 2);
  }
}

@media (min-width: 80em) {
  .sto-small-app-item {
    flex-basis: calc(33.333% - var(--item-margin) * 2);
  }
}

@media (min-width: 96em) {
  .sto-small-app-item {
    flex-basis: calc(25% - var(--item-margin) * 2);
  }
}

@media (min-width: 112em) {
  .sto-small-app-item {
    flex-basis: calc(20% - var(--item-margin) * 2);
  }
}

@media (min-width: 128em) {
  .sto-small-app-item {
    flex-basis: calc(16.666% - var(--item-margin) * 2);
  }
}
