.sto-view-title {
  padding: 0;
  margin: 0;
  display: flex;
  align-self: center;
}

[role=banner] .sto-view-title {
  font-size: 16pt;
}

.sto-discover .sto-view-title,
.sto-myapps .sto-view-title {
  padding: 0 0 1rem 2.5rem;
  margin-top: 2rem;
  font-size: 20pt;
}
